{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block content %}
<div class ="container-fluid" md-3>
<div class ="row md-3 mb-4">

</div>
</div>
<div class ="container-fluid mt-4">
    <div class = "jumbotron md-3">
        <h2 class = "display-4 text-centre">Hello</h2>
        <p class ="lead text-centre">Top news headlines from the United Kingdom</p>
        <p class ="lead text-centre">An application that lists and previews news articles from various sources</p>
        < hr class ="my-4">
        <p class ="text-centre">Get top and breaking news headlines from the United Kingdom</p>
        <p class="text-centre">Click the buttons below to choose a news source category</p>
        <p class = "lead text-centre">
        <p class ="text-centre">
            <a class = "btn btn-success btn-log" data-toggle href = "businessNews" role ="button" aria-expanded = "false" aria-controls = "collapseExample">Business</a>
            <a class = "btn btn-success btn-log" data-toggle href = "entertainmentNews" role ="button" aria-expanded = "false" aria-controls = "collapseExample">Entertainment</a>
            <a class = "btn btn-success btn-log" data-toggle href = "healthNews" role ="button" aria-expanded = "false" aria-controls = "collapseExample">Health</a>
            <a class = "btn btn-success btn-log" data-toggle href = "scienceNews" role ="button" aria-expanded = "false" aria-controls = "collapseExample">Science</a>
            <a class = "btn btn-success btn-log" data-toggle href = "sportsNews" role ="button" aria-expanded = "false" aria-controls = "collapseExample">Sports</a>
            <a class = "btn btn-success btn-log" data-toggle href = "technologyNews" role ="button" aria-expanded = "false" aria-controls = "collapseExample">Technology</a>
        </p>
        </p>
        <div id ="businessNews" class ="collapse">
            <div class ="card">
                <div class = "card-header">
                    Select a news source.
                </div>
                <div class ="card-body">
                    <h3 class = "card-title">Business News Sources</h3>
                    <div class = "row">
                        {{macro.displaySourceList(business)}}
                    </div>
                </div>
            </div>
        </div>
        <div id ="entertainmentNews" class ="collapse">
            <div class ="card">
                <div class ="card-header">
                    Select a news source.
                </div>
                <div class ="card-body">
                    <h3 class ="card-title">Entertainment News Sources</h3>
                    <div class = "row">
                        {{macro.displaySourceList(entertainment)}}
                    </div>
                </div>
            </div>
        </div>
        <div id = "healthNews" class ="collapse">
            <div class ="card">
                <div class ="card-header">
                    Select news source.
                </div>
                <div class ="card-body">
                    <h3 class ="card-title">Health News Sources </h3>
                    <div class = "row">
                        {{macro.displaySourceList(health)}}
                    </div>
                </div>
            </div>
        </div>
        <div id = "scienceNews" class = "collapse">
            <div class = "card">
                <div class = "card-header">
                    Select news source.
                </div>
                <div class ="card-body">
                    <h3 class ="card-title">Science News Sources</h3>
                    <div class ="row">
                        {{macro.displaySourceList(science)}}
                    </div>
                </div>
            </div>
        </div>
        <div id ="sportsNews" class = "collapse">
            <div class = "card-header">
                select news source.
            </div>
            <div class = "card-body">
                <h3 class = "card-title">Sports News Sources</h3>
                <div class = "row">
                    {{macro.displaySourceList(sports)}}
                </div>
            </div>
        </div>
    </div>
    <div id ="technologyNews" class = "collapse">
        <div class ="card-header">
            Select news source.
        </div>
        <div class ="card-body">
            <h3 class ="card-title">Technology news Sources</h3>
            <div class = "row">
                {{macro.displaySourceList(technology)}}
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}