{% extends 'base.html' %} 
{% import 'macros.html' as macro %} 
{% block content %}
<div class="container-fluid mt-4">
<div class="row mt-4 mb-4">

</div>
</div>
<div class="container-fluid mt-4">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">Search worldwide news</h1>
    <p class="lead text-center"></p>
    <hr class="my-4">
    <p class='text-center'>Explore Your preferred news sources</p>
    <p class='text-center'>Click a buttons below to select a news sources by category. </p>
    <p class="lead text-center">
      <p class="text-center">
        <a class="btn btn-success btn-lg" data-toggle="collapse" href="#generalNews" role="button" aria-expanded="false" aria-controls="collapseExample">General</a>
        <a class="btn btn-success btn-lg" data-toggle="collapse" href="#businessNews" role="button" aria-expanded="false" aria-controls="collapseExample">Business</a>
        <a class="btn btn-success btn-lg" data-toggle="collapse" href="#technologyNews" role="button" aria-expanded="false" aria-controls="collapseExample">Technology</a>
        <a class="btn btn-success btn-lg" data-toggle="collapse" href="#sportsNews" role="button" aria-expanded="false" aria-controls="collapseExample">Sports</a>
        <a class="btn btn-success btn-lg" data-toggle="collapse" href="#healthNews" role="button" aria-expanded="false" aria-controls="collapseExample">Health</a>
        <a class="btn btn-success btn-lg" data-toggle="collapse" href="#scienceNews" role="button" aria-expanded="false" aria-controls="collapseExample">Science</a>
        <a class="btn btn-success btn-lg" data-toggle="collapse" href="#entertainmentNews" role="button" aria-expanded="false" aria-controls="collapseExample">Entertainment</a>
      </p>
    </p>
    <div id="generalNews" class="collapse">
      <div class="card">
        <div class="card-header">
          Choose prefered news source.
        </div>
        <div class="card-body">
          <h3 class="card-title">General News Sources</h3>
          <div class="row">
            {{macro.displaySourceList(general)}}
          </div>
        </div>
      </div>
    </div>
    <div id="businessNews" class="collapse">
      <div class="card">
        <div class="card-header">
          Choose prefered news source.
        </div>
        <div class="card-body">
          <h3 class="card-title">Business News Sources</h3>
          <div class="row">
            {{macro.displaySourceList(business)}}
          </div>
        </div>
      </div>
    </div>
    <div id="technologyNews" class="collapse">
      <div class="card">
        <div class="card-header">
          Choose prefered news source.
        </div>
        <div class="card-body">
          <h3 class="card-title">Technology News Sources</h3>
          <div class="row">
            {{macro.displaySourceList(technology)}}
          </div>
        </div>
      </div>
    </div>
    <div id="sportsNews" class="collapse">
      <div class="card">
        <div class="card-header">
          Choose prefered news source.
        </div>
        <div class="card-body">
          <h3 class="card-title">Sports News Sources</h3>
          <div class="row">
            {{macro.displaySourceList(sports)}}
          </div>
        </div>
      </div>
    </div>
    <div id="healthNews" class="collapse">
      <div class="card">
        <div class="card-header">
          Choose prefered news source.
        </div>
        <div class="card-body">
          <h3 class="card-title">Health News Sources</h3>
          <div class="row">
            {{macro.displaySourceList(health)}}
          </div>
        </div>
      </div>
    </div>
    <div id="scienceNews" class="collapse">
      <div class="card">
        <div class="card-header">
          Choose prefered news source.
        </div>
        <div class="card-body">
          <h3 class="card-title">Science News Sources</h3>
          <div class="row">
            {{macro.displaySourceList(science)}}
          </div>
        </div>
      </div>
    </div>
    <div id="entertainmentNews" class="collapse">
      <div class="card">
        <div class="card-header">
          Choose prefered news source.
        </div>
        <div class="card-body">
          <h3 class="card-title">Entertainment News Sources</h3>
          <div class="row">
            {{macro.displaySourceList(entertainment)}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
